._submit-btn {
  height: 2.5em;
  width: 14.9em;
  margin-inline: auto;
  text-decoration: none;
  border: 1px solid #938f99;
  background: none;
  border-radius: 100px;
  color: #d0bcff;
  margin-top: 5.5em;
}
