* {
    font-weight: 400;
    color: #E6E0E9;
}
li{
    display: inline-block;
}

.TaskList1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.TaskList1 .box-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -30px;
}

.TaskList1 .box-bottom{
    width: 80%;
    margin-bottom: 76px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.TaskList1 .box-button{
    margin-top: 10px;
    width: 90%;
}

.TaskList1 .button{
    width: 100%;
    background-color: transparent;
    border: 1px solid #938F99;
    border-radius: 25px;
    padding: 10px 24px;
    cursor: pointer;
}

.TaskList1 button .text {
    font-size: 14px;
    color: #D0BCFF;
    font-weight: 500;
}

.TaskList1 .button .plus-icon {
    margin-right: 8px;
    vertical-align: center;
    display: inline-block;
}

._header-with-icon{
    align-self: stretch;
}

