* {
    font-weight: 400;
    color: #E6E0E9;
}
li{
    display: inline-block;
}

.TaskList1{
    width: 312px;
    height: 543px;
    border-radius: 25px;
    background-color:#2B2930;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.TaskList1 .box-tittle{
    margin-top: 24px;
    display: flex;
    align-items: center;
    position: relative;
}

.TaskList1 .top-left-icon{
    position: absolute;
    left: -50px;
    cursor: pointer;
}

.TaskList1 .box-tittle h1{
    font-size: 24px;
    text-align: center;
}

.TaskList1 .box-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -30px;
}

.TaskList1 .tasks{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TaskList1 .tasks li:not(:last-child) {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #49454F;
}

.TaskList1 .tasks li:last-child{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

.TaskList1 .circle{
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: #4f378b;
    margin-right: 16px;
}
.TaskList1 input[type='checkbox']{
    width: 18px;
    height: 18px;
    color: #4f378b;
    accent-color: #d0bcff;
    cursor: pointer;
}


.TaskList1 .Pagination{
    display: flex;
    align-items: center;
}
.TaskList1 .Pagination span{
    cursor: pointer;
}

.TaskList1 .pag-number{
    margin: 8px;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}

.TaskList1 .pag-numbers .active{
    margin: 0;
    width: 30px;
    height: 30px;
    color:#4A4458 ;
    background-color: #D0BCFF ;
    border-radius: 50%;
}

.TaskList1 .box-bottom{
    width: 80%;
    margin-bottom: 76px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.TaskList1 .box-button{
    margin-top: 10px;
    width: 90%;
}

.TaskList1 .button{
    width: 100%;
    background-color: transparent;
    border: 1px solid #938F99;
    border-radius: 25px;
    padding: 10px 24px;
    cursor: pointer;
}

.TaskList1 button .text {
    font-size: 14px;
    color: #D0BCFF;
    font-weight: 500;
}

.TaskList1 .button .plus-icon {
    margin-right: 8px;
    vertical-align: center;
    display: inline-block;
}


