._header-with-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0 3.75rem 0;
  color: #e6e0e9;
}

._header-with-icon h1 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2rem;
}

._header-with-icon ._header-with-icon__icon {
  position: absolute;
}

._header-with-icon ._header-with-icon__right-icon {
  right: 1.5rem;
}
._header-with-icon ._header-with-icon__left-icon {
  left: 1.5rem;
}
